---
import Layout from '../layouts/Layout.astro';
import Post from '../components/Post.astro';
import Header from "../components/Header.astro";
---

<Layout title="Welcome to Astro.">
	<Header />
	<main>
	</main>
</Layout>
