---
import Layout from '../layouts/Layout.astro';
import Post from '../components/Post.astro';
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Welcome to Astro.">
	<Header />
	<main class="min-h-[100vh] pt-12 flex flex-col items-center max-w-[100vw]">
		<Post />
	</main>
	<Footer />
</Layout>
