<footer class="min-h-[calc(6rem+1.5vh)] flex items-center justify-around">
    <h3 class="barcode-font text-5xl text-[#f3f3f3]">factio</h3>
    <div class="links-font text-[#dadada] max-w-[30%] text-center">
        <div>© 2024 Factio EU, LLC, All Rights Reserved</div>
        <a
            href="https://astro.build/"
            class="link-hover underline-offset-4 underline"
            rel="noopener noreferrer"
            target="_blank"
        >
            Made with Astro 🚀
        </a>
    </div>
    <a href="#" class="text-white text-3xl logo-font">↑</a>
</footer>
