<header class="min-h-[calc(5em+0.5vh)] flex items-center justify-around">
    <h3 class="logo-font text-3xl text-[#f3f3f3]">factio</h3>
    <ul class="flex items-stretch text-[#dadada] space-x-10 text-md links-font">
        <li class="link-hover"><a href="">Home</a></li>
        <li class="link-hover"><a href="">Explore</a></li>
        <li class="link-hover"><a href="">Profile</a></li>
    </ul>
</header>

<style>
    .link-hover {
        @apply hover:text-[#fff];
    }
</style>
