---
// interface Props {
// 	title: string;
// 	body: string;
// 	href: string;
// }

// const { href, title, body } = Astro.props;
---

<section class="section-styles px-4	py-6">
	<div class="flex items-center mb-4">
		<img src="../../public/assets/User_circle@2x.png" alt="user png" class="w-5 h-5 mr-2">
		<h3 class="text-gray-400 text-md links-font">user_2342</h2>
	</div>
	<h2 class="text-[#f3f3f3] text-3xl header-font">Title of the post</h2>
</section>

<style>
	.section-styles{
		@apply border-[2px] rounded-xl border-[#37383a] min-h-[calc(5rem+15vh)] w-[calc(15rem+20vw)] bg-[#1a1d25];
	}
</style>
